<div id="new-post-button">
<a href="/post">+ New Post</a>
</div>

{{#each posts as |post|}}

<div class="home-post">

<a href="./post/{{post.id}}">{{post.title}}</a>

<p>{{post.user.username}}</p>

<p>{{post.date_created}}</p>

<p>{{post.description}}</p>

</div>

{{/each}}