<div id="new-post-button">
<a href="/post">+ New Post</a>
</div>
{{#if posts}}
<div id="home-post-box">
{{#each posts as |post|}}

<div class="home-post">

<div class="post-header">
<a href="./post/{{post.id}}">{{post.title}}</a>
<p>{{post.date_created}}</p>
</div>

<p class="post-username">{{post.user.username}}</p>

<p class="post-body">{{post.description}}</p>

</div>

{{/each}}
</div>
{{else}}
<p>You haven't made any posts yet!</p>
{{/if}}